body{
font-family: 'Poppins', sans-serif;
margin: 0;

}
h1{font-size:50px}
.orange-color{
color: orange;
}
.text-decoration{
color: #db1bdb;
}
.exclamatory{
color: #ff0000;
}
.funArea-head{
text-align: center;
}
.flexible-container{
display: flex;
margin-bottom: 120px;
}
.half-width{
width: 50%;
padding-left: 2%;
}
.half-width img{
width: 80%;
}
.link-btn{
background-color: orange;
text-decoration: none;
padding: 10px 30px;
border-radius: 5px;
background-image: linear-gradient(orange,tomato);
color: white;
font-weight: 900;
}
.link-btn2{
background-color: tomato;
text-decoration: none;
padding: 10px 40px;
border-radius: 5px ;
background-image: linear-gradient(#afe716,#759128 );
color:white ;
font-weight: 900;
}
.top-banner{
background-image: url(images/top-banner.png);
background-repeat: no-repeat;
}
.dream-big{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position:right ;
}

.funfact-area{
background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;
}
.funfact-box{
width: 40%;
margin-left:5%;
margin-right:5%;
padding-left: 20px;
box-shadow: 10px 10px 40px gray;
border-radius: 10px;

}
#funfactLinear{
border-left: 7px solid;
border-image: linear-gradient(#4747f3,#f18799);
border-image-slice: 1;
}
#funfactLinear2{
    border-left: 7px solid;
    border-image: linear-gradient(#c03f3a,#a6d4a5);
    border-image-slice: 1;

}